name: Trigger auto deployment for tuning-client

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/tuning-client-AutoDeployTrigger-42a58ebd-b1b7-408e-879b-5a35d78a66d2.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.TUNINGCLIENT_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TUNINGCLIENT_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.TUNINGCLIENT_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.TUNINGCLIENT_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.TUNINGCLIENT_REGISTRY_PASSWORD }}
          containerAppName: tuning-client
          resourceGroup: tuning_store
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


